@import '@/styles/mixins.scss';
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include res('margin-bottom', 120px);
}
.title{
  font-family: Futuru, sans-serif;
  font-style: normal;
  font-weight: 600;
  margin: 0;
  @include res('font-size', 48px);
  @include res('line-height', 56px);
  @include res('letter-spacing', .96px);
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include res('gap', 20px);
  @include res('margin-top', 40px);
}
.item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border: solid #E1E9EF;
  @include res('padding', 16px);
  @include res('padding-bottom', 20px);
  @include res('gap', 12px);
  @include res('border-radius', 16px);
  @include res('border-width', 1px);
  @include res('max-width', 295px);
  &Img{
    background: #F9FAFC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    @include res('border-radius', 12px);
    @include res('height', 140px);
    img{
      width: 50%;
      height: auto;
      object-fit: cover;
    }
  }
  &Title{
    font-style: normal;
    font-weight: 500;
    @include res('font-size', 14px);
    @include res('line-height', 20px);
  }
  &Desc{
    font-style: normal;
    font-weight: 400;
    margin: 0;
    color: #737477;
    @include res('font-size', 12px);
    @include res('line-height', 16px);
  }
}